@import url("https://unpkg.com/@picocss/pico@latest/css/pico.min.css");

/* Green Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
      --card-background-color: #223341;
    }
}

/* article{
    padding-top:5px !important;
    padding-bottom: 5px !important;
    margin-bottom: 0px;
} */

small{
    font-size: small;
}

summary{
    font-size: medium;
    font-weight: bold;
    color:--color !important;
}

details[open] summary{
    color:--color !important;
}

.longlist li{
    list-style-type: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


@keyframes details-show {
    from {
      opacity:0;
      transform: var(--details-translate, translateY(-0.5em));
    }
  }
  
  details[open] > *:not(summary) {
    animation: details-show 150ms ease-in-out;
  }